@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
scroll-behavior: smooth;
}
:root {
    --background: #E8E8E8;
    --foreground: #888787;
    --gray: #D9D9D9;
    --green: #58AC1E;
    --yellow: #f9b90f;
    --red: #dc5023;
    --black: #202020;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #E8E8E8;
    --foreground: #888787;
    --gray: #D9D9D9;
    --green: #58AC1E;
    --yellow: #f9b90f;
    --red: #dc5023;
    --black: #202020;
  }
}

body{
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }


}
.styleBar {
  width: 30px;
  height: 3px;
  background-color: #202020;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.open .styleBar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.open .styleBar:nth-child(2) {
  opacity: 0;
}

.open .styleBar:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Navbar */

  @media (max-width: 425px) {
    .logoName{
      display: none;
    }
  }

/* Hero */

  @media (max-width: 425px) {
    .heroP{
      font-size: 17px;
    }
  }